@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model FrotiX.Pages.Setor.UpsertModel

@{
    ViewData["Title"] = "Setor Patrimonial";
    ViewData["PageName"] = "setorpatrimonial_upsert";
	ViewData["Heading"] = "<i class='fa-duotone fa-solid fa-chess-rook'></i> Cadastros: <span class='fw-300'>Setor Patrimonial</span>";
    ViewData["Category1"] = "Cadastros";
	ViewData["PageIcon"] = "fa-regular fa-chess-rook";
}


<style>
    .form-control-xs {
        height: calc(1em + .775rem + 2px) !important;
        padding: .125rem .25rem !important;
        font-size: .75rem !important;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .label {
        margin-bottom: -5px;
        margin-top: 10px;
    }

    input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

    .escondido {
        display: none;
    }
 
    .espacofundo {
        padding-bottom: 20px;
    }

	.my-syncfusion-input--small.e-control-wrapper.e-input-group input.e-input {
		font-size: 0.85rem; /* Ajuste o tamanho da fonte conforme necessário */
		height: 28px; /* Ajuste a altura do input */
		line-height: 1.2; /* Ajuste a altura de linha, se necessário */
		padding: 2px 6px; /* Ajuste o espaçamento interno */
	}

</style>

@section HeadBlock {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/dropify.min.css" />

}

@{
    var setorId = Model.SetorObj?.SetorId.ToString() ?? "00000000-0000-0000-0000-000000000000";
}


<form id="FormsSetor" method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row espacofundo">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div id="painelfundo" class="panel-container show espacofundo">
                    <div class="panel-content">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div id="divSetorIdEmpty" data-setorid="@setorId"></div>

                        @if (Model.SetorObj.SetorId != Guid.Empty)
                        {
                            <input type="hidden" name="SetorObj.SetorId" value="@Model.SetorObj.SetorId" />
                            Console.WriteLine(Model.SetorObj.SetorId);
                        }

                        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                            <h2 class="text-primary">@(Model.SetorObj.SetorId != Guid.Empty ? "Atualizar " : "Criar ") Setor Patrimonial</h2>
                        </div>

                        <div class="col-12 pt-3">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="SetorObj.NomeSetor"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="SetorObj.NomeSetor"></span>
                                        <!-- Depois -->
                                        <ejs-textbox
                                            id="nomeSetor"
                                            name="SetorObj.NomeSetor"
											cssClass="my-syncfusion-input--small"
											value="@Model.SetorObj.NomeSetor"
                                            placeholder="Digite o nome do setor">
                                        </ejs-textbox>
                                    </div>
                                </div>


                                <div class="col-4">
                                    <label class="label font-weight-bold">Detentor</label>
                                    <ejs-combobox id="cmbDetentores"
										placeholder="Selecione um Detentor"
										allowFiltering="false"     
										filterType="Contains"
										popupHeight="200px"
										width="100%"
										showClearButton="true"
										ejs-for="SetorObj.DetentorId"
										cssClass="my-syncfusion-input--small">
                                        <e-combobox-fields text="text" value="value"></e-combobox-fields>
									</ejs-combobox>
								</div>

                                <!----------------------------------------------------------------------------------------->
                                <br />

                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="label font-weight-bold">
                                                <input type="checkbox" class="form-check-input" asp-for="SetorObj.Status" id="chkStatus" />
                                                Status (Ativo/Inativo)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!----------------------------------------------------------------------------------------->
                                
                                <!--Tive que criar esse aqui pra armazenar os valores no formato do razor pages para o submit funcionar sozinho-->
                                <!--Então caso seja edição os valores vão ficar salvos como os do objeto e se for criação vai ser preenchido pelo JS-->
                                @*@if (Model.SetorObj.SetorId != Guid.Empty)
                                {
                                    <input type="hidden" id="SetorId" name="PatrimonioObj.Patrimonio.SetorId" value="@Model.PatrimonioObj.Patrimonio.SetorId" />

                                    <input type="hidden" id="SecaoId" name="PatrimonioObj.Patrimonio.SecaoId" value="@Model.PatrimonioObj.Patrimonio.SecaoId" />
                                }
                                else
                                {
                                    <input type="hidden" id="SetorId" name="PatrimonioObj.Patrimonio.SetorId" value="" />

                                    <input type="hidden" id="SecaoId" name="PatrimonioObj.Patrimonio.SecaoId" value="" />
                                }
                                *@

                            </div>


                            <br />
                            <br />
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="row  float-left">
                                        <div class="col-6  float-left">

                                            @if (Model.SetorObj.SetorId != Guid.Empty)
                                            {
                                                <button method="post" asp-page-handler="Edit" asp-route-id=@Model.SetorObj.SetorId class="btn btn-primary form-control" style="width:200px">Atualizar</button>
                                            }
                                            else
                                            {
                                                <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-primary form-control" style="width:200px">Criar</button>
                                            }
                                        </div>
                                        <div class="col-6  float-right">
                                            <a asp-page="./Index" class="btn btn-success form-control" style="width:200px">Voltar à Lista</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section ScriptsBlock
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/dropify.min.js"></script>
    <script src="~/js/cadastros/setor_patrimonial_22.js"></script>

}
