@page
@Html.AntiForgeryToken()
@model FrotiX.Pages.Multa.ExibePDFPenalidadeModel

@{
    ViewData["Title"] = "Notificações";
    ViewData["PageName"] = "notificacao_index";
    ViewData["Heading"] = "<i class='fad fa-pen-to-square'></i> Cadastros: <span class='fw-300'>Notificação de Penalidade - PDF</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fad fa-pen-to-square";
}


@section HeadBlock {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/microtip.css" />

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.412/styles/kendo.default-v2.min.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2022.1.412/js/kendo.all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>

    <script>window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';</script>

}

<style>
    .center {
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
</style>

<body>
    <form method="post" asp-action="Upsert" onkeypress='stopEnterSubmitting(window.event)' enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <br />
                        <div class="col-12 col-md-4 center">
                            <a asp-page="./ListaAutuacao" class="btn btn-dark form-control">Voltar à Lista</a>
                        </div>
                        <br />
                        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                            <h2 class="text-primary">@("Penalidade da Infração nº: " + @Model.MultaObj.Multa.NumInfracao)</h2>
                        </div>
                        <div id="divPainel" class="panel-content">

                            <div id="pdfViewer">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>


@section ScriptsBlock
{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.412/styles/kendo.default-v2.min.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2022.1.412/js/kendo.all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>

    <script>window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';</script>

    <script>
        $(document).ready(function () {

            console.log('@Model.MultaObj.Multa.MultaId');

            var pdfViewer = $("#pdfViewer").kendoPDFViewer
                ({
                    pdfjsProcessing:
                    {
                        file: "/DadosEditaveis/Multas/" + '@Model.MultaObj.Multa.PenalidadePDF'
                    },
                    width: "100%",
                    height: 800
                }).data("kendoPDFViewer");

        });
    </script>
}