@page

@using FrotiX.Repository.IRepository
@using Syncfusion.EJ2
@using Stimulsoft.Report.Mvc;
@using FrotiX.Services

@inject IUnitOfWork _unitOfWork

@{

    @functions{
        public void OnGet()
        {
            FrotiX.Pages.Multa.ListaMultaModel.Initialize(_unitOfWork);
            ViewData["dataOrgaoAutuante"] = new ListaOrgaoAutuanteMulta(_unitOfWork).OrgaoAutuanteList();

            ViewData["lstMotorista"] = new ListaMotorista(_unitOfWork).MotoristaList();
            ViewData["lstVeiculos"] = new ListaVeiculos(_unitOfWork).VeiculosList();
            ViewData["lstTipoMulta"] = new ListaTipoMulta(_unitOfWork).TipoMultaList();
            ViewData["lstStatus"] = new ListaStatusAutuacao(_unitOfWork).StatusList();
            ViewData["lstStatusAlteracao"] = new ListaStatusAutuacaoAlteracao(_unitOfWork).StatusList();

        }

    }
}


@model FrotiX.Models.Multa

@{
    ViewData["Title"] = "Multas";
    ViewData["PageName"] = "multa_listaautuacao";
    ViewData["Heading"] = "<i class='fad fa-pen-to-square'></i> Multas: <span class='fw-300'>Autuações</span>";
    ViewData["Category1"] = "Autuações";
    ViewData["PageIcon"] = "fad fa-pen-to-square";
}

@section HeadBlock {



    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.412/styles/kendo.default-v2.min.css" />

    <script src="https://kendo.cdn.telerik.com/2022.1.412/js/kendo.all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>

    <script>window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';</script>

    <link href="https://cdn.kendostatic.com/2022.1.412/styles/kendo.default-main.min.css" rel="stylesheet" type="text/css" />
    @*<script src="https://cdn.kendostatic.com/2022.1.412/js/jquery.min.js"></script>*@
    <script src="https://cdn.kendostatic.com/2022.1.412/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>

}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .fundo-laranja {
        background-color: #D2691E;
        color: white;
    }

    .fundo-chocolate {
        background-color: #7B3F00;
        color: white;
    }

    h3:after {
        content: ' ';
        display: block;
        border: 2px solid #d0d0d0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .img {
        width: 100%;
    }

    .modal-dialog {
        max-width: 50%;
        height: 100%;
        margin: 0 auto !important;
    }

    .btn_topo {
        margin-top: 3px;
    }
</style>

<script>

    var URLapi = "/api/multa/listamultas";

    var IDapi = "";


    //Ajusta funcionamento do RTE no Modal
    //====================================
    var defaultRTE;

    function onCreate() {
        defaultRTE = this;
    }

</script>

<form>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content float-right">
                        <a href="/Multa/UpsertAutuacao" class="btn btn-info">
                            <i class="fal fa-pen-to-square">
                            </i> &nbsp; Adicionar Notificação de Autuação
                        </a>
                    </div>
                    <div class="panel-content ">
                        <div class="box-body">
                            <br /><br />
                            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                                <h2 class="text-primary">
                                    Escolha os filtros desejados para visualizar as Autuações:
                                </h2>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-4">
                                        <br />
                                        <ejs-combobox id="lstOrgao" placeholder="Selecione um Órgão..." allowFiltering="true" filterType="Contains" dataSource="@ViewData["dataOrgaoAutuante"]" popupHeight="250px"  width="100%" showClearButton="true" >
                                            <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                        </ejs-combobox>
                                    </div>
                                    <div class="col-8">
                                        <br />
                                        <ejs-combobox id="lstTiposMulta" placeholder="Selecione uma Infração..." allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstTipoMulta"]" popupHeight="250px"  width="100%" showClearButton="true" >
                                            <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                        </ejs-combobox>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <ejs-combobox id="lstVeiculos" placeholder="Selecione um Veículo" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstVeiculos"]" popupHeight="250px" width="100%" showClearButton="true">
                                        <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>
                                <div class="col-4">
                                    <ejs-combobox id="lstMotorista" placeholder="Selecione um Motorista" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstMotorista"]" popupHeight="250px" width="100%" showClearButton="true">
                                        <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>
                                <div class="col-2">
                                    <ejs-combobox id="lstStatus" placeholder="Multas com Status..." allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstStatus"]" popupHeight="250px" width="100%" showClearButton="true">
                                        <e-combobox-fields text="Status" value="StatusId"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>
                                <a class="col-2 btn btn-primary text-white" id="btnFiltro" name="btnFiltro" aria-label="Filtra as Autuações!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" onclick="ListaTodasNotificacoes()">
                                    Filtra as Autuações
                                </a>
                            </div>
                            <br />
                            <div id="divNotificacoes">
                                <table id="tblMulta" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nº Infração</th>
                                            <th>Data</th>
                                            <th>Hora</th>
                                            <th>Motorista</th>
                                            <th>Veículo</th>
                                            <th>Órgão</th>
                                            <th>Infração</th>
                                            <th>Local</th>
                                            <th>Dt.Reconhecimento</th>
                                            <th>Até Vencimento</th>
                                            <th>Pós Vencimento</th>
                                            <th>eDoc</th>
                                            <th>Ação</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="divNotificacoes"></div>
    </div>

</form>

@*-------------- Modal da Ficha de Vistoria --------------
    ========================================================*@
<form method="post" asp-action="Index" enctype="multipart/form-data">
    <div class="modal fade" id="modalPDF">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header d-block">
                    <h4 class="modal-title" id="DynamicModalLabel">Ficha de Vistoria</h4>
                    <button id="btnFecharModal" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>

                <div class="modal-body table-bordered container-fluid">

                    <div id="pdfViewer">
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


@*----------------- MODAL de Alteração do Status ------------------------*@
@*=======================================================================*@
<div class="modal fade" id="modalAlteraStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="h3Titulo">Altera Status da Notificação</h3>
            </div>
            <div class="modal-body">
                <form id="frmStatus">
                    <input type="hidden" id="txtId" />

                    <div class="row">

                        <div class="col-3">
                            <div class="form-group">
                                <label class="label font-weight-bold">Status da Autuação</label>
                                <ejs-combobox id="lstStatusAlterado" placeholder="Altera para..." allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstStatusAlteracao"]" popupHeight="250px" width="100%" showClearButton="true">
                                    <e-combobox-fields text="Status" value="StatusId"></e-combobox-fields>
                                </ejs-combobox>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button id="btnAlteraStatus" class="btn btn-primary" type="submit" value="SUBMIT">Altera Status</button>
                    <button id="btnFechar" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@*----------------- MODAL de Transformação em Penalidade ------------------------*@
@*===============================================================================*@
<div class="modal fade" id="modalTransformaPenalidade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="h3Titulo">Transforma Autuação em Penalidade/Boleto</h3>
            </div>
            <div class="modal-body">
                <form id="frmStatus">
                    <input type="hidden" id="txtId" />

                    <div class="row">

                        <div class="row">

                            <div class="col-4">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Data de Vencimento</label>
                                    <input id="txtDataVencimento" class="form-control form-control-xs" type="date" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Valor à Pagar</label>
                                    <input id="txtValorPenalidade" class="form-control form-control-xs" data-inputmask="'alias': 'currency'" style="text-align: right;" onKeyPress="return(moeda(this,'.',',',event))" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Processo eDoc</label>
                                    <input id="txtEdoc" class="form-control form-control-xs"/>
                                </div>
                            </div>

                            <br />
                        </div>
                        <br />
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="control-wrapper">
                                    <div>
                                        <label class="label font-weight-bold">Observações a respeito da Multa</label>
                                        <ejs-richtexteditor id="rte" toolbarClick="toolbarClick" locale="pt-BR" height="150px" created="onCreate">
                                            <e-richtexteditor-insertimagesettings saveUrl="api/Viagem/SaveImage" path="./DadosEditaveis/ImagensViagens/"></e-richtexteditor-insertimagesettings>
                                        </ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="control-wrapper">
                                    <div>
                                        <input type="file" name="files" id="pdf" />
                                        <input id="txtPenalidadePDF" class="form-control form-control-xs" hidden="hidden" />
                                        <div id="PDFContainer">
                                            <div id="pdfViewer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button id="btnTransformaPenalidade" class="btn btn-primary" type="submit" value="SUBMIT">Transforma em Penalidade/Boleto</button>
                    <button id="btnFechar" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section ScriptsBlock{


    <link href="https://cdn.kendostatic.com/2022.1.412/styles/kendo.default-main.min.css" rel="stylesheet" type="text/css" />
    @*<script src="https://cdn.kendostatic.com/2022.1.412/js/jquery.min.js"></script>*@
    <script src="https://cdn.kendostatic.com/2022.1.412/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>
	<script src="~/js/cadastros/tiraacento.js"></script>


    <script>


        var defaultRTE;

        function onCreate() {

            defaultRTE = this;

        }

        //Função necessária para o RTE
        function toolbarClick(e) {
            if (e.item.id == "rte_toolbar_Image") {
                var element = document.getElementById('rte_upload')
                element.ej2_instances[0].uploading = function upload(args) {
                    args.currentRequest.setRequestHeader('XSRF-TOKEN', document.getElementsByName('__RequestVerificationToken')[0].value);
                }
            }
        }

    </script>

    <script>


        $(document).ready(function () {

            ListaTodasNotificacoes();

        });

        // Botão Fechar do Modal
        //=============================
        $("#btnFechar").click(function (e) {
            $("div").removeClass("modal-backdrop");
        });

        ej.base.L10n.load({
            "pt-BR": {
                "richtexteditor": {
                    "alignments": "Alinhamentos",
                    "justifyLeft": "Alinhar à Esquerda",
                    "justifyCenter": "Centralizar",
                    "justifyRight": "Alinhar à Direita",
                    "justifyFull": "Justificar",
                    "fontName": "Nome da Fonte",
                    "fontSize": "Tamanho da Fonte",
                    "fontColor": "Cor da Fonte",
                    "backgroundColor": "Cor de Fundo",
                    "bold": "Negrito",
                    "italic": "Itálico",
                    "underline": "Sublinhado",
                    "strikethrough": "Tachado",
                    "clearFormat": "Limpa Formatação",
                    "clearAll": "Limpa Tudo",
                    "cut": "Cortar",
                    "copy": "Copiar",
                    "paste": "Colar",
                    "unorderedList": "Lista com Marcadores",
                    "orderedList": "Lista Numerada",
                    "indent": "Aumentar Identação",
                    "outdent": "Diminuir Identação",
                    "undo": "Desfazer",
                    "redo": "Refazer",
                    "superscript": "Sobrescrito",
                    "subscript": "Subscrito",
                    "createLink": "Inserir Link",
                    "openLink": "Abrir Link",
                    "editLink": "Editar Link",
                    "removeLink": "Remover Link",
                    "image": "Inserir Imagem",
                    "replace": "Substituir",
                    "align": "Alinhar",
                    "caption": "Título da Imagem",
                    "remove": "Remover",
                    "insertLink": "Inserir Link",
                    "display": "Exibir",
                    "altText": "Texto Alternativo",
                    "dimension": "Mudar Tamanho",
                    "fullscreen": "Maximizar",
                    "maximize": "Maximizar",
                    "minimize": "Minimizar",
                    "lowerCase": "Caixa Baixa",
                    "upperCase": "Caixa Alta",
                    "print": "Imprimir",
                    "formats": "Formatos",
                    "sourcecode": "Visualizar Código",
                    "preview": "Exibir",
                    "viewside": "ViewSide",
                    "insertCode": "Inserir Código",
                    "linkText": "Exibir Texto",
                    "linkTooltipLabel": "Título",
                    "linkWebUrl": "Endereço Web",
                    "linkTitle": "Entre com um título",
                    "linkurl": "http://exemplo.com",
                    "linkOpenInNewWindow": "Abrir Link em Nova Janela",
                    "linkHeader": "Inserir Link",
                    "dialogInsert": "Inserir",
                    "dialogCancel": "Cancelar",
                    "dialogUpdate": "Atualizar",
                    "imageHeader": "Inserir Imagem",
                    "imageLinkHeader": "Você pode proporcionar um link da web",
                    "mdimageLink": "Favor proporcionar uma URL para sua imagem",
                    "imageUploadMessage": "Solte a imagem aqui ou busque para o upload",
                    "imageDeviceUploadMessage": "Clique aqui para o upload",
                    "imageAlternateText": "Texto Alternativo",
                    "alternateHeader": "Texto Alternativo",
                    "browse": "Procurar",
                    "imageUrl": "http://exemplo.com/imagem.png",
                    "imageCaption": "Título",
                    "imageSizeHeader": "Tamanho da Imagem",
                    "imageHeight": "Altura",
                    "imageWidth": "Largura",
                    "textPlaceholder": "Entre com um Texto",
                    "inserttablebtn": "Inserir Tabela",
                    "tabledialogHeader": "Inserir Tabela",
                    "tableWidth": "Largura",
                    "cellpadding": "Espaçamento de célula",
                    "cellspacing": "Espaçamento de célula",
                    "columns": "Número de colunas",
                    "rows": "Número de linhas",
                    "tableRows": "Linhas da Tabela",
                    "tableColumns": "Colunas da Tabela",
                    "tableCellHorizontalAlign": "Alinhamento Horizontal da Célular",
                    "tableCellVerticalAlign": "Alinhamento Vertical da Célular",
                    "createTable": "Criar Tabela",
                    "removeTable": "Remover Tabela",
                    "tableHeader": "Cabeçalho da Tabela",
                    "tableRemove": "Remover Tabela",
                    "tableCellBackground": "Fundo da Célula",
                    "tableEditProperties": "Editar Propriedades da Tabela",
                    "styles": "Estilos",
                    "insertColumnLeft": "Inserir Coluna à Esquerda",
                    "insertColumnRight": "Inserir Coluna à Direita",
                    "deleteColumn": "Apagar Coluna",
                    "insertRowBefore": "Inserir Linha Antes",
                    "insertRowAfter": "Inserir Linha Depois",
                    "deleteRow": "Apagar Linha",
                    "tableEditHeader": "Edita Tabela",
                    "TableHeadingText": "Cabeçãlho",
                    "TableColText": "Col",
                    "imageInsertLinkHeader": "Inserir Link",
                    "editImageHeader": "Edita Imagem",
                    "alignmentsDropDownLeft": "Alinhar à Esquerda",
                    "alignmentsDropDownCenter": "Centralizar",
                    "alignmentsDropDownRight": "Alinhar à Direita",
                    "alignmentsDropDownJustify": "Justificar",
                    "imageDisplayDropDownInline": "Inline",
                    "imageDisplayDropDownBreak": "Break",
                    "tableInsertRowDropDownBefore": "Inserir linha antes",
                    "tableInsertRowDropDownAfter": "Inserir linha depois",
                    "tableInsertRowDropDownDelete": "Apagar linha",
                    "tableInsertColumnDropDownLeft": "Inserir coluna à esquerda",
                    "tableInsertColumnDropDownRight": "Inserir coluna à direita",
                    "tableInsertColumnDropDownDelete": "Apagar Coluna",
                    "tableVerticalAlignDropDownTop": "Alinhar no Topo",
                    "tableVerticalAlignDropDownMiddle": "Alinhar no Meio",
                    "tableVerticalAlignDropDownBottom": "Alinhar no Fundo",
                    "tableStylesDropDownDashedBorder": "Bordas Pontilhadas",
                    "tableStylesDropDownAlternateRows": "Linhas Alternadas",
                    "pasteFormat": "Colar Formato",
                    "pasteFormatContent": "Escolha a ação de formatação",
                    "plainText": "Texto Simples",
                    "cleanFormat": "Limpar",
                    "keepFormat": "Manter",
                    "formatsDropDownParagraph": "Parágrafo",
                    "formatsDropDownCode": "Código",
                    "formatsDropDownQuotation": "Citação",
                    "formatsDropDownHeading1": "Cabeçalho 1",
                    "formatsDropDownHeading2": "Cabeçalho 2",
                    "formatsDropDownHeading3": "Cabeçalho 3",
                    "formatsDropDownHeading4": "Cabeçalho 4",
                    "fontNameSegoeUI": "SegoeUI",
                    "fontNameArial": "Arial",
                    "fontNameGeorgia": "Georgia",
                    "fontNameImpact": "Impact",
                    "fontNameTahoma": "Tahoma",
                    "fontNameTimesNewRoman": "Times New Roman",
                    "fontNameVerdana": "Verdana"
                }
            }
        })

    </script>


    <script>

        function ListaTodasNotificacoes() {

            //------ Aciona o Loading Spinner ------------------
            //==================================================
            $('#divNotificacoes').LoadingScript('method_12', {
                'background_image': 'img/loading7.png',
                'main_width': 200,
                'animation_speed': 10,
                'additional_style': '',
                'after_element': false
            });

            //----- Pega Os Filtros ------------------------
            //==================================================
            var veiculoId = "";
            var veiculos = document.getElementById('lstVeiculos').ej2_instances[0];
            if (veiculos.value != null) {
                veiculoId = veiculos.value
            }

            var tipoMultaId = "";
            var tipos = document.getElementById('lstTiposMulta').ej2_instances[0];
            console.log(tipos.value);
            if (tipos.value != null || tipos.value === '') {
                tipoMultaId = tipos.value
            }

            var motoristaId = "";
            var motoristas = document.getElementById('lstMotorista').ej2_instances[0];
            if (motoristas.value != null) {
                motoristaId = motoristas.value
            }

            var orgaoAutuanteId = "";
            var orgaos = document.getElementById('lstOrgao').ej2_instances[0];
            if (orgaos.value != null) {
                orgaoAutuanteId = orgaos.value
            }

            var statusId = "";
            var status = document.getElementById('lstStatus').ej2_instances[0];
            if (status.value != null) {
                statusId = status.value
            }

            var dataTableMultas = $('#tblMulta').DataTable();
            dataTableMultas.destroy();
            $('#tblMulta tbody').empty();

            console.log("Entrei na Chamada do Lista Todas as Notificações!");
            console.log("URLapi: " + URLapi);

            dataTableMultas = $('#tblMulta').DataTable({

                autoWidth: false,

                dom: 'Bfrtip',

                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 linhas', '25 linhas', '50 linhas', 'Todas as Linhas']
                ],

                buttons: ['pageLength', 'excel', {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }],

                "order": [[1, 'desc']],


                'columnDefs': [
                    {
                        "targets": 0, //Nº Infração
                        "className": "text-center",
                        //"width": "3%",
                        "render": function (data, type, full, meta) {
                            return `<div class="text-center">
                                                                                        <a aria-label="&#9762; (${full.observacao})" data-microtip-position="rigth" role="tooltip"  data-microtip-size="medium" style="cursor:pointer;" data-id='${data}'>
                                                                                            ${full.numInfracao}
                                                                                        </a>
                                                                                    </div>`;
                        },
                    },
                    {
                        "targets": 1, //Data
                        "className": "text-center",
                        //"width": "3%",
                    },
                    {
                        "targets": 2, //Hora
                        "className": "text-center",
                        //"width": "3%",
                    },
                    {
                        "targets": 3, //Motorista
                        "className": "text-left",
                        "width": "12%",
                        "render": function (data, type, full, meta) {
                            return `<div class="text-center">
                                                                                        <a aria-label="&#128241; (${full.telefone})" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                                                                            ${full.nome}
                                                                                        </a>
                                                                                    </div>`;
                        },
                    },
                    {
                        "targets": 4, //Veículo
                        "className": "text-center",
                        //"width": "3%",
                    },
                    {
                        "targets": 5, //Órgão
                        "className": "text-left",
                        //"width": "5%",
                    },
                    {
                        "targets": 6, //Infração
                        "className": "text-left",
                        //"width": "20%",
                        "render": function (data, type, full, meta) {
                            //return type === 'display' ? '<div title="' + full.telefone + '">' + data : data;
                            return `<div class="text-center">
                                                                                        <a aria-label="&#9940; (${full.descricao})" data-microtip-position="top" role="tooltip" data-microtip-size="medium" style="cursor:pointer;" data-id='${data}'>
                                                                                            ${full.artigo}
                                                                                        </a>
                                                                                    </div>`;
                        },
                    },
                    {
                        "targets": 7, //Local
                        "className": "text-left",
                        "width": "16%",
                    },
                    {
                        "targets": 8, //Data Vencimento
                        "className": "text-center",
                        //"width": "3%",
                    },
                    {
                        "targets": 9, //(R$) Vencimento
                        "className": "text-right",
                        //"width": "3%",
                    },
                    {
                        "targets": 10, //(R$) Vencimento
                        "className": "text-right",
                        //"width": "5%",
                    },
                    {
                        "targets": 11, //eDoc
                        "className": "text-left",
                        //"width": "5%",
                    },
                    {
                        "targets": 12, //Ação
                        "className": "text-center",
                        "width": "15%",
                    },
                    {
                        "targets": 13, //RowNumber
                        "className": "text-rigth",
                        "width": "1%",
                    }
                ],

                responsive: true,
                "ajax": {
                    "url": URLapi,
                    "type": "GET",
                    "data": { fase: "Autuação", veiculo: veiculoId, orgao: orgaoAutuanteId, motorista: motoristaId, infracao: tipoMultaId, status: statusId },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "numInfracao" },
                    { "data": "data" },
                    { "data": "hora" },
                    { "data": "nome" },
                    { "data": "placa" },
                    { "data": "sigla" },
                    { "data": "artigo" },
                    { "data": "localizacao" },
                    { "data": "vencimento" },
                    { "data": "valorAteVencimento" },
                    { "data": "valorPosVencimento" },
                    { "data": "processoEDoc" },
                    //{
                    //    "data": "status",
                    //    "render": function (data, type, row, meta) {
                    //        if (row.status === "Aberta")
                    //            return '<a href="javascript:void" class="updateStatusViagem btn btn-success btn-xs text-white" data-url="/api/Viagem/updateStatusViagem?Id=' + row.viagemId + '">Aberta</a>';
                    //        else
                    //            if (row.status === "Realizada")
                    //                return '<a href="javascript:void" class="updateStatusViagem btn  btn-xs fundo-cinza text-white text-bold" data-url="/api/Viagem/updateStatusViagem?Id=' + row.viagemId + '">Realizada</a>';
                    //            else
                    //                return '<a href="javascript:void" class="updateStatusViagem btn btn-danger btn-xs text-white text-bold" data-url="/api/Viagem/updateStatusViagem?Id=' + row.viagemId + '">Cancelada</a>';
                    //    }
                    //},
                    {
                        "data": "multaId",
                        "render": function (data, type, full, meta) {
                            return `<div class="text-center">
                                        <a href="/Multa/UpsertAutuacao?id=${data}" class="btn btn_topo btn-primary btn-xs text-white" aria-label="Editar a Autuação!" data-microtip-position="top" role="tooltip"  style="cursor:pointer;">
                                            <i class="far fa-edit"></i>
                                        </a>

                                        <a class="btn btn_topo btn-status btn-danger btn-xs text-white fundo-chocolate" aria-label="Altera Status (${full.status})!"  id="rowdata" data-toggle="modal" data-target="#modalAlteraStatus"  data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                            <i class="fa-regular fa-bolt"></i>
                                        </a>

                                        <a class="btn btn_margem btn-pagamento btn-danger btn-xs text-white fundo-laranja" aria-label="Transformar em Penalidade!" data-toggle="modal" data-target="#modalTransformaPenalidade" id="rowdata" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                            <i class="fa-regular fa-rotate-exclamation"></i>
                                        </a>


                                        <a class="btn btn_topo btn-apagar btn-danger btn-xs text-white" aria-label="Apagar a Autuação!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                            <i class="far fa-window-close"></i>
                                        </a>

                                        <a href="/Multa/ExibePDFAutuacao?id=${data}" class="btn btn_topo btn-dark btn-xs text-white" aria-label="Exibe a Notificação de Autuação!" data-microtip-position="top" role="tooltip"  style="cursor:pointer;">
                                            <i class="fab fa-wpforms"></i>
                                    </div>`;
                        }
                    },
                    {
                        "data": "multaId",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                ],

                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "infoThousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",
                    "search": "Pesquisar",
                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    "aria": {
                        "sortAscending": ": Ordenar colunas de forma ascendente",
                        "sortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "1": "Selecionado 1 linha"
                        },
                        "cells": {
                            "1": "1 célula selecionada",
                            "_": "%d células selecionadas"
                        },
                        "columns": {
                            "1": "1 coluna selecionada",
                            "_": "%d colunas selecionadas"
                        }
                    },
                    "buttons": {
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        },
                        "collection": "Coleção  <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Visibilidade da Coluna",
                        "colvisRestore": "Restaurar Visibilidade",
                        "copy": "Copiar",
                        "copyKeys": "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
                        "copyTitle": "Copiar para a Área de Transferência",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todos os registros",
                            "_": "Mostrar %d registros"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Preencher todas as células com",
                        "fillHorizontal": "Preencher células horizontalmente",
                        "fillVertical": "Preencher células verticalmente"
                    },
                    "lengthMenu": "Exibir _MENU_ resultados por página",
                    "searchBuilder": {
                        "add": "Adicionar Condição",
                        "button": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "clearAll": "Limpar Tudo",
                        "condition": "Condição",
                        "conditions": {
                            "date": {
                                "after": "Depois",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "gt": "Maior Que",
                                "gte": "Maior ou Igual a",
                                "lt": "Menor Que",
                                "lte": "Menor ou Igual a",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "string": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "endsWith": "Termina Com",
                                "equals": "Igual",
                                "not": "Não",
                                "notEmpty": "Não Vazio",
                                "startsWith": "Começa Com"
                            },
                            "array": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "equals": "Igual à",
                                "not": "Não",
                                "notEmpty": "Não vazio",
                                "without": "Não possui"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Excluir regra de filtragem",
                        "logicAnd": "E",
                        "logicOr": "Ou",
                        "title": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "value": "Valor",
                        "leftTitle": "Critérios Externos",
                        "rightTitle": "Critérios Internos"
                    },
                    "searchPanes": {
                        "clearMessage": "Limpar Tudo",
                        "collapse": {
                            "0": "Painéis de Pesquisa",
                            "_": "Painéis de Pesquisa (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Nenhum Painel de Pesquisa",
                        "loadMessage": "Carregando Painéis de Pesquisa...",
                        "title": "Filtros Ativos"
                    },
                    "thousands": ".",
                    "datetime": {
                        "previous": "Anterior",
                        "next": "Próximo",
                        "hours": "Hora",
                        "minutes": "Minuto",
                        "seconds": "Segundo",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "unknown": "-",
                        "months": {
                            "0": "Janeiro",
                            "1": "Fevereiro",
                            "10": "Novembro",
                            "11": "Dezembro",
                            "2": "Março",
                            "3": "Abril",
                            "4": "Maio",
                            "5": "Junho",
                            "6": "Julho",
                            "7": "Agosto",
                            "8": "Setembro",
                            "9": "Outubro"
                        },
                        "weekdays": [
                            "Domingo",
                            "Segunda-feira",
                            "Terça-feira",
                            "Quarta-feira",
                            "Quinte-feira",
                            "Sexta-feira",
                            "Sábado"
                        ]
                    },
                    "editor": {
                        "close": "Fechar",
                        "create": {
                            "button": "Novo",
                            "submit": "Criar",
                            "title": "Criar novo registro"
                        },
                        "edit": {
                            "button": "Editar",
                            "submit": "Atualizar",
                            "title": "Editar registro"
                        },
                        "error": {
                            "system": "Ocorreu um erro no sistema (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Mais informações<\/a>)."
                        },
                        "multi": {
                            "noMulti": "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
                            "restore": "Desfazer alterações",
                            "title": "Multiplos valores",
                            "info": "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais."
                        },
                        "remove": {
                            "button": "Remover",
                            "confirm": {
                                "_": "Tem certeza que quer deletar %d linhas?",
                                "1": "Tem certeza que quer deletar 1 linha?"
                            },
                            "submit": "Remover",
                            "title": "Remover registro"
                        }
                    },
                    "decimal": ","
                },


                //"width": "100%"
            });

            $('#divNotificacoes').LoadingScript('destroy');

        }


    </script>






    <script>

        //------------------ Apaga a Autuação -------------------------------
        //===================================================================
        $(document).on('click', '.btn-apagar', function () {
            var id = $(this).data('id');

            swal({
                title: "Você tem certeza que deseja apagar esta Autuação?",
                text: "Não será possível recuperar os dados eliminados!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: {
                    cancel: "Cancelar",
                    confirm: "Excluir"
                }
            }).then((willDelete) => {
                if (willDelete) {
                    var dataToPost = JSON.stringify({ 'MultaId': id });
                    var url = '/api/Multa/Delete';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: dataToPost,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                ListaTodasNotificacoes();
                            }
                            else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (err) {
                            console.log(err)
                            alert('something went wrong')
                        }
                    });

                }
            });
        });

    </script>

    <script>

        $('#modalAlteraStatus').on('shown.bs.modal', function (event) {

            var RowNumber = $(event.relatedTarget).closest("tr").find("td:eq(13)").text();
            var button = $(event.relatedTarget); // button the triggered modal
            var multaId = button.data("id");
            console.log("MultaId: " + multaId);

            $('#txtId').attr('value', multaId);


            var objMulta = JSON.stringify({ "MultaId": $('#txtId').val() })

            $.ajax({
                type: "get",
                url: "/api/Multa/PegaStatus",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { Id: multaId },

                success: function (data) {

                    var NumNotificacao = data.numInfracao;
                    var NomeMotorista = data.nome;
                    var Status = data.status;

                    $("#h3Titulo").html("Alterar o status da Autuação nº " + NumNotificacao + " de " + NomeMotorista);
                    var lstStatus = document.getElementById('lstStatusAlterado').ej2_instances[0];
                    lstStatus.value = [Status];

                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });

        }).on("hide.bs.modal", function (event) {

            var lstStatus = document.getElementById('lstStatusAlterado').ej2_instances[0];
            lstStatus.value = '';

        });


        // Botão AlteraStatus do Modal
        //=============================
        $("#btnAlteraStatus").click(function (e) {

            e.preventDefault();

            var status = document.getElementById('lstStatusAlterado').ej2_instances[0];
            if ((status.value === null)) {
                swal({
                    title: 'Atenção',
                    text: "O status é obrigatório!",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        close: "Fechar",
                    }
                });
                return
            };

            //debugger;

            var objMulta = JSON.stringify({ "MultaId": $('#txtId').val(), "Status": status.value });

            //MultaId = $('#txtId').val();

            $.ajax({
                type: "get",
                url: "/api/Multa/AlteraStatus",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { "MultaId": $('#txtId').val(), "Status": status.value },

                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        $('#tblMulta').DataTable().ajax.reload(null, false);
                        $("#modalAlteraStatus").hide();
                        $("div").removeClass("modal-backdrop");
                    }
                    else {
                        toastr.error(data.message);
                    }
                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });
        });


    </script>

    <script>
        function moeda(a, e, r, t) {
            let n = ""
                , h = j = 0
                , u = tamanho2 = 0
                , l = ajd2 = ""
                , o = window.Event ? t.which : t.keyCode;
            if (13 == o || 8 == o)
                return !0;
            if (n = String.fromCharCode(o),
                -1 == "0123456789".indexOf(n))
                return !1;
            for (u = a.value.length,
                h = 0; h < u && ("0" == a.value.charAt(h) || a.value.charAt(h) == r); h++)
                ;
            for (l = ""; h < u; h++)
                -1 != "0123456789".indexOf(a.value.charAt(h)) && (l += a.value.charAt(h));
            if (l += n,
                0 == (u = l.length) && (a.value = ""),
                1 == u && (a.value = "0" + r + "0" + l),
                2 == u && (a.value = "0" + r + l),
                u > 2) {
                for (ajd2 = "",
                    j = 0,
                    h = u - 3; h >= 0; h--)
                    3 == j && (ajd2 += e,
                        j = 0),
                        ajd2 += l.charAt(h),
                        j++;
                for (a.value = "",
                    tamanho2 = ajd2.length,
                    h = tamanho2 - 1; h >= 0; h--)
                    a.value += ajd2.charAt(h);
                a.value += r + l.substr(u - 2, u)
            }
            return !1
        }
    </script>


    <script>

        $('#modalTransformaPenalidade').on('shown.bs.modal', function (event) {

            //Cria DIV do PDF
            $("#PDFContainer").append("<div id='PDFViewer'> </div>");

            defaultRTE.refreshUI();

            var RowNumber = $(event.relatedTarget).closest("tr").find("td:eq(13)").text();
            var button = $(event.relatedTarget); // button the triggered modal
            var multaId = button.data("id");
            console.log("MultaId: " + multaId);

            $('#txtId').attr('value', multaId);


            var objMulta = JSON.stringify({ "MultaId": $('#txtId').val() })

            $.ajax({
                type: "get",
                url: "/api/Multa/PegaObservacao",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { Id: multaId },

                success: function (data) {

                    var NomeMotorista = data.nomeMotorista;
                    var NumNotificacao = data.numInfracao;
                    var Observacao = data.observacao;

                    var rte = document.getElementById('rte').ej2_instances[0];
                    rte.value = Observacao;

                    $("#h3Titulo").html("Transformar em Penalidade a Autuação nº " + NumNotificacao + " de " + NomeMotorista);

                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });

        }).on("hide.bs.modal", function (event) {

            var rte = document.getElementById('rte').ej2_instances[0];
            rte.value = '';

            document.getElementById("txtDataVencimento").value = "";
            document.getElementById("txtValorPenalidade").value = "";
            document.getElementById("txtEdoc").value = "";
            $('#txtPenalidadePDF').val('')

            //Limpa o controle de Upload de arquivos
            var upload = $("#pdf").data("kendoUpload");
            upload.clearAllFiles();

            //Remove a DIV para excluir o PDF escolhido anteriormente
            $("#PDFContainer").remove();


        });


        //Controla o Submit da Transformação em Penalidade
        //================================================
        $("#btnTransformaPenalidade").click(function (event) {

            event.preventDefault()

            multaId = document.getElementById("txtId").value;

            //debugger;

            //Valida Campos Obrigatórios
            //==========================
            if (document.getElementById("txtDataVencimento").value === "") {
                swal({
                    title: "Informação Ausente",
                    text: "A Data de Vencimento é obrigatória",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

            if (document.getElementById("txtValorPenalidade").value === "" || document.getElementById("txtValorPenalidade").value === "0") {
                swal({
                    title: "Informação Ausente",
                    text: "A Valor à Pagar é obrigatório",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

            Status = "À Pagar"

            var rte = document.getElementById('rte').ej2_instances[0];

            var ValorPagamento = $('#txtValorPenalidade').val().replaceAll(".", "");

            $.ajax({
                type: "get",
                url: "/api/Multa/TransformaPenalidade",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { MultaId: multaId, DataVencimento: $('#txtDataVencimento').val(), ValorAteVencimento: ValorPagamento, Observacao: rte.value, PenalidadePDF: $('#txtPenalidadePDF').val(), ProcessoEDoc: $('#txtEdoc').val() },
                //data: objMulta,

                success: function (data) {
                    toastr.success(data.message);
                    $("#modalRegistraPagamento").hide();
                    location.reload();
                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });
        });


    </script>

    <script>

        //Desabilita o Drop Zone
        kendo.ui.Upload.fn._supportsDrop = function () { return false; }

        $("#pdf").kendoUpload({
            async: {
                saveUrl: "/Multa/UpsertAutuacao?handler=SavePDF",
                removeUrl: "/Multa/UpsertAutuacao?handler=RemovePDF"
            },
            localization: {
                select: "Selecione a Notificação de Penalidade/Boleto...",
                headerStatusUploaded: "Arquivo Carregado",
                uploadSuccess: "Arquivo Carregado com Sucesso"
            },
            validation: {
                allowedExtensions: [".pdf"],
            },
            success: onSuccess
        });

        function onSuccess(e) {

            //Remove a DIV para excluir o PDF escolhido anteriormente
            $("#pdfViewer").remove();

            //Cria DIV do PDF
            $("#PDFContainer").append("<div id='pdfViewer'> </div>");

            // An array with information about the uploaded files
            var files = e.files;

            // Checks the extension of each file and aborts the upload if it is not .jpg
            $.each(files, function () {

                console.log(this.name);

                //document.getElementById("txtPenalidadePDF").setAttribute('value', this.name.replaceAll(" ", "_"));
				document.getElementById("txtPenalidadePDF").setAttribute('value', TiraAcento(this.name));

                console.log(document.getElementById("txtPenalidadePDF").value);

                var pdfViewer = $("#pdfViewer").kendoPDFViewer({
                    pdfjsProcessing: {
                        file: "/DadosEditaveis/Multas/" + document.getElementById("txtPenalidadePDF").value
                    },
                    width: "100%",
                    height: 400
                }).data("kendoPDFViewer");

            });
        }
    </script>

}
