@page

@using FrotiX.Repository.IRepository
@using FrotiX.Pages.Multa
@using Syncfusion.EJ2
@using Stimulsoft.Report.Mvc;

@inject IUnitOfWork _unitOfWork

@{

    @functions{
        public void OnGet()
        {
            FrotiX.Pages.Multa.ListaMultaModel.Initialize(_unitOfWork);
            ViewData["lstCategoria"] = new ListaCategoria(_unitOfWork).CategoriasList();
            ViewData["lstMotorista"] = new ListaMotorista(_unitOfWork).MotoristaList();
            ViewData["lstUnidade"] = new ListaUnidades(_unitOfWork).UnidadesList();


        }

    }
}

@{
    ViewData["Title"] = "Lotação por Categorias";
    ViewData["PageName"] = "unidade_visualizalotacoes";
    ViewData["Heading"] = "<i class='fad fa-pen-to-square'></i> Unidades: <span class='fw-300'>Lotações por Categoria</span>";
    ViewData["Category1"] = "Lotação";
    ViewData["PageIcon"] = "fad fa-pen-to-square";
}

@section HeadBlock {


    <link href="https://cdn.kendostatic.com/2022.1.412/styles/kendo.default-main.min.css" rel="stylesheet" type="text/css" />
    @*<script src="https://cdn.kendostatic.com/2022.1.412/js/jquery.min.js"></script>*@
    <script src="https://cdn.kendostatic.com/2022.1.412/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>

}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .fundo-laranja {
        background-color: #D2691E;
        color: white;
    }

    .fundo-verde {
        background-color: #6C7665;
        color: white;
    }

    h3:after {
        content: ' ';
        display: block;
        border: 2px solid #d0d0d0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .img {
        width: 100%;
    }

    .modal-dialog {
        max-width: 50%;
        height: 100%;
        margin: 0 auto !important;
    }

    .btn_margem {
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    #divDisable {
        padding: 5px 10px;
        background-color: #777;
        width: 150px;
        margin-bottom: 20px;
    }

    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }
</style>

<script>






    var URLapi = "/api/unidade/listacategorias";
    var IDapi = "";
    var motoristaId = "";


    //Ajusta funcionamento do RTE no Modal
    //====================================
    var defaultRTE;

    function onCreate() {
        defaultRTE = this;
    }

    function onCategoriaChange() {

        var categorias = document.getElementById('lstCategorias').ej2_instances[0];
        if (categorias.value != null) {
            categoriaId = categorias.value
            ListaTblLotacoes(categoriaId)
        }
        else {
            var dataTableLotacao = $('#tblLotacao').DataTable();
            dataTableLotacao.destroy();
            $('#tblLotacao tbody').empty();
        }

    }

</script>

<form>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content ">
                        <div class="box-body">
                            <br /><br />
                            <div class="col-12 px-3">
                                <h2 class="text-primary">
                                    Escolha a Categorias para visualizar suas Lotações:
                                </h2>
                            </div>
                            <div class="form-group row">
                                <div class="col-5">
                                    <ejs-combobox id="lstCategorias" placeholder="Selecione uma Categoria" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstCategoria"]" popupHeight="250px" width="100%" showClearButton="true" change="onCategoriaChange" close="onCategoriaChange">
                                        <e-combobox-fields text="Categoria" value="CategoriaId"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>
                            </div>
                            <br />
                            <div id="divLotacoes">
                                <table id="tblLotacao" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Categoria</th>
                                            <th>Nome da Unidade</th>
                                            <th>Motorista</th>
                                            <th>Data Início</th>
                                            <th>Ação</th>
                                            <th></th> <! -- LotacaoMotoristaId !-->
                                            <th></th> <! -- MotoristaId !-->
                                            <th></th> <! -- UnidadeId !-->
                                            <th></th> <! -- Lotado !-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

</form>

@*----------------- Modal de Edição da Alocação do Motorista- ------------------------*@
@*====================================================================================*@
<div class="modal fade" id="modalEditaLotacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="h3Titulo">Edita a Lotação do Motorista</h3>
            </div>
            <div class="modal-body">
                <form id="frmEditaLotacao">
                    <input type="hidden" id="txtIdEdita" />

                    <div class="row">

                        <div class="form-group row">
                            <div class="col-5">
                                <ejs-combobox id="lstMotoristaEditaLotacao" placeholder="Selecione um Motorista" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstMotorista"]" popupHeight="250px" width="100%" showClearButton="true">
                                    <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                </ejs-combobox>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-5">
                                <ejs-combobox id="lstUnidadeEditaLotacao" placeholder="Selecione uma Unidade" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstUnidade"]" popupHeight="250px" width="100%" showClearButton="true">
                                    <e-combobox-fields text="Descricao" value="UnidadeId"></e-combobox-fields>
                                </ejs-combobox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Data de Início</label>
                                    <input id="txtDataInicioEdicao" class="form-control form-control-xs" type="date" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Data Fim</label>
                                    <input id="txtDataFimEdicao" class="form-control form-control-xs" type="date" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-check-label font-weight-bold" for="chkLotadoEdicao">
                                        O Motorista encontra-se atualmente lotado nesta Unidade?
                                    </label>
                                    <input class="form-check-input" type="checkbox" value="" id="chkLotadoEdicao">

                                </div>
                            </div>

                        </div>
                    </div>
                    <br />
                </form>
                <div class="modal-footer">
                    <button id="btnEditaLotacao" class="btn btn-primary" type="submit" value="SUBMIT">Edita a Lotação</button>
                    <button id="btnFecharLotacaoEdicao" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@*----------------- Modal de Finalização da Alocação do Motorista- ------------------------*@
@*=========================================================================================*@
<div class="modal fade" id="modalFinalizaLotacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="h3Titulo">Finaliza a Lotação do Motorista Nesta Unidade</h3>
            </div>
            <div class="modal-body">
                <form id="frmFinalizaLotacao">
                    <input type="hidden" id="txtIdFinaliza" />

                    <div class="row">

                        <div class="form-group row" id="divMotoristaFinalizacao">
                            <div class="col-5">
                                <ejs-combobox id="lstMotoristaFinalizaLotacao" placeholder="Selecione um Motorista" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstMotorista"]" popupHeight="250px" width="100%" showClearButton="true">
                                    <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                </ejs-combobox>
                            </div>
                        </div>
                        <div class="form-group row" id="divUnidadeFinalizacao">
                            <div class="col-5">
                                <ejs-combobox id="lstUnidadeFinalizaLotacao" placeholder="Selecione uma Unidade" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstUnidade"]" popupHeight="250px" width="100%" showClearButton="true">
                                    <e-combobox-fields text="Descricao" value="UnidadeId"></e-combobox-fields>
                                </ejs-combobox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" id="divDataInicioFinaliza">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Data de Início</label>
                                    <input id="txtDataInicioFinaliza" class="form-control form-control-xs" type="date" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Data Fim</label>
                                    <input id="txtDataFimFinaliza" class="form-control form-control-xs" type="date" />
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group row">
                                <div class="col-5">
                                    <label class="font-weight-bold">Define a nova Lotação do Motorista</label>
                                    <ejs-combobox id="lstUnidadeNovaLotacao" placeholder="Selecione uma Unidade" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstUnidade"]" popupHeight="250px" width="100%" showClearButton="true">
                                        <e-combobox-fields text="Descricao" value="UnidadeId"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="label font-weight-bold">Data de Início</label>
                                        <input id="txtDataInicioNova" class="form-control form-control-xs" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </form>
                <div class="modal-footer">
                    <button id="btnFinalizaLotacao" class="btn btn-primary" type="submit" value="SUBMIT">Remove o Motorista</button>
                    <button id="btnFecharLotacaoFinalizacao" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section ScriptsBlock{


    <link href="https://cdn.kendostatic.com/2022.1.412/styles/kendo.default-main.min.css" rel="stylesheet" type="text/css" />
    @*<script src="https://cdn.kendostatic.com/2022.1.412/js/jquery.min.js"></script>*@
    <script src="https://cdn.kendostatic.com/2022.1.412/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>


    <script>

        var defaultRTE;

        function onCreate() {

            defaultRTE = this;

        }

    </script>

    <script>


        $(document).ready(function () {

            ListaTblLotacoes(null);

            function sah1(el) {
                try {
                    el.disabled = el.disabled ? false : true;
                } catch (E) { }
                if (el.childNodes && el.childNodes.length > 0) {
                    for (var x = 0; x < el.childNodes.length; x++) {
                        sah1(el.childNodes[x]);
                    }
                }
            }

        });

        // Botão Fechar do Modal
        //=============================
        $("#btnFecharLotacaoFinalizacao").click(function (e) {
            $("div").removeClass("modal-backdrop");
        });

        $("#btnFecharLotacaoEdicao").click(function (e) {
            $("div").removeClass("modal-backdrop");
        });


    </script>

    <script>

        function ListaTblLotacoes(categoriaId) {


            //------ Aciona o Loading Spinner ------------------
            //==================================================
            $('#divLotacao').LoadingScript('method_12', {
                'background_image': 'img/loading7.png',
                'main_width': 200,
                'animation_speed': 10,
                'additional_style': '',
                'after_element': false
            });

            var dataTableLotacao = $('#tblLotacao').DataTable();
            dataTableLotacao.destroy();
            $('#tblLotacao tbody').empty();

            DataTable.datetime('DD/MM/YYYY');

            dataTableLotacao = $('#tblLotacao').DataTable({

                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },

                autoWidth: false,

                dom: 'Bfrtip',

                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 linhas', '25 linhas', '50 linhas', 'Todas as Linhas']
                ],

                buttons: ['pageLength', 'copy', 'excel', 'pdf', {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    action: function () {
                        var count = dataTableMultas.rows({ selected: true }).count();
                    }
                }],

                "order": [],

                'columnDefs': [

                    {
                        "targets": 0, // Categoria
                        "className": "text-left",
                        "width": "10%",

                    },
                    {
                        "targets": 1, //Unidade
                        "className": "text-left",
                        "width": "40%",
                    },
                    {
                        "targets": 2, //Motorista
                        "className": "text-left",
                        "width": "20%",
                    },
                    {
                        "targets": 3, //Data Início
                        "className": "text-center",
                        "width": "5%",
                    },
                    {
                        "targets": 4, //Ação
                        "className": "text-center",
                        "width": "8%",
                    },
                    {
                        "targets": 5, //LotacaoMotoristaId
                        "className": "text-center",
                        "width": "0%",
                        "visible": false,
                    },
                    {
                        "targets": 6, //MotoristaId
                        "className": "text-center",
                        "width": "0%",
                        "visible": false,
                    },
                    {
                        "targets": 7, //UnidadeId
                        "className": "text-center",
                        "width": "0%",
                        "visible": false,
                    },
                    {
                        "targets": 8, //Lotado
                        "className": "text-center",
                        "width": "0%",
                        "visible": false,
                    },
                ],
                responsive: true,
                "ajax": {
                    "url": "/api/unidade/listalotacoes",
                    "type": "GET",
                    "data": { categoriaId: categoriaId },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "nomeCategoria" },
                    { "data": "unidade" },
                    { "data": "motorista" },
                    { "data": "dataInicio" },
                    {
                        "data": "lotacaoMotoristaId",
                        "render": function (data, type, full, meta) {
                            return `<div class="text-center">

                                                                            <a class="btn btn_margem btn-editalotacao btn-primary btn-xs text-white" aria-label="Edita a Lotação!" data-toggle="modal" data-target="#modalEditaLotacao" id="btnEdita" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                                                                <i class="far fa-edit"></i>
                                                                            </a>

                                                                            <a class="btn btn_margem btn-finalizalotacao btn-danger btn-xs text-white fundo-laranja" aria-label="Finaliza a Lotação!" data-toggle="modal" data-target="#modalFinalizaLotacao" id="rowdata" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                                                                <i class="fa-regular fa-rotate-exclamation"></i>
                                                                            </a>

                                                                            <a class="btn btn_margem btn-apagar btn-danger btn-xs text-white" aria-label="Apagar a Lotação!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                                                                 <i class="far fa-trash-alt"></i>
                                                                            </a>

                                                                        </div>`;
                        }
                    },
                    { "data": "lotacaoMotoristaId" },
                    { "data": "motoristaId" },
                    { "data": "unidadeId" },
                    { "data": "lotado" },
                ],
                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "infoThousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",
                    "search": "Pesquisar",
                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    "aria": {
                        "sortAscending": ": Ordenar colunas de forma ascendente",
                        "sortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": " %d linhas selecionadas ",
                            "1": "  1 linha selecionada "
                        },
                        "cells": {
                            "1": " 1 célula selecionada",
                            "_": " %d células selecionadas"
                        },
                        "columns": {
                            "1": " 1 coluna selecionada",
                            "_": " %d colunas selecionadas"
                        }
                    },
                    "buttons": {
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        },
                        "collection": "Coleção  <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Visibilidade da Coluna",
                        "colvisRestore": "Restaurar Visibilidade",
                        "copy": "Copiar",
                        "copyKeys": "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
                        "copyTitle": "Copiar para a Área de Transferência",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todos os registros",
                            "_": "Mostrar %d registros"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Preencher todas as células com",
                        "fillHorizontal": "Preencher células horizontalmente",
                        "fillVertical": "Preencher células verticalmente"
                    },
                    "lengthMenu": "Exibir _MENU_ resultados por página",
                    "searchBuilder": {
                        "add": "Adicionar Condição",
                        "button": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "clearAll": "Limpar Tudo",
                        "condition": "Condição",
                        "conditions": {
                            "date": {
                                "after": "Depois",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "gt": "Maior Que",
                                "gte": "Maior ou Igual a",
                                "lt": "Menor Que",
                                "lte": "Menor ou Igual a",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "string": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "endsWith": "Termina Com",
                                "equals": "Igual",
                                "not": "Não",
                                "notEmpty": "Não Vazio",
                                "startsWith": "Começa Com"
                            },
                            "array": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "equals": "Igual à",
                                "not": "Não",
                                "notEmpty": "Não vazio",
                                "without": "Não possui"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Excluir regra de filtragem",
                        "logicAnd": "E",
                        "logicOr": "Ou",
                        "title": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "value": "Valor",
                        "leftTitle": "Critérios Externos",
                        "rightTitle": "Critérios Internos"
                    },
                    "searchPanes": {
                        "clearMessage": "Limpar Tudo",
                        "collapse": {
                            "0": "Painéis de Pesquisa",
                            "_": "Painéis de Pesquisa (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Nenhum Painel de Pesquisa",
                        "loadMessage": "Carregando Painéis de Pesquisa...",
                        "title": "Filtros Ativos"
                    },
                    "thousands": ".",
                    "datetime": {
                        "previous": "Anterior",
                        "next": "Próximo",
                        "hours": "Hora",
                        "minutes": "Minuto",
                        "seconds": "Segundo",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "unknown": "-",
                        "months": {
                            "0": "Janeiro",
                            "1": "Fevereiro",
                            "10": "Novembro",
                            "11": "Dezembro",
                            "2": "Março",
                            "3": "Abril",
                            "4": "Maio",
                            "5": "Junho",
                            "6": "Julho",
                            "7": "Agosto",
                            "8": "Setembro",
                            "9": "Outubro"
                        },
                        "weekdays": [
                            "Domingo",
                            "Segunda-feira",
                            "Terça-feira",
                            "Quarta-feira",
                            "Quinte-feira",
                            "Sexta-feira",
                            "Sábado"
                        ]
                    },
                    "editor": {
                        "close": "Fechar",
                        "create": {
                            "button": "Novo",
                            "submit": "Criar",
                            "title": "Criar novo registro"
                        },
                        "edit": {
                            "button": "Editar",
                            "submit": "Atualizar",
                            "title": "Editar registro"
                        },
                        "error": {
                            "system": "Ocorreu um erro no sistema (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Mais informações<\/a>)."
                        },
                        "multi": {
                            "noMulti": "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
                            "restore": "Desfazer alterações",
                            "title": "Multiplos valores",
                            "info": "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais."
                        },
                        "remove": {
                            "button": "Remover",
                            "confirm": {
                                "_": "Tem certeza que quer deletar %d linhas?",
                                "1": "Tem certeza que quer deletar 1 linha?"
                            },
                            "submit": "Remover",
                            "title": "Remover registro"
                        }
                    },
                    "decimal": ","
                },


                "width": "100%"
            });

            $('#divPenalidades').LoadingScript('destroy');

        }


    </script>



    <script>

        //------------------ Apaga a Lotação -------------------------------
        //===================================================================
        $(document).on('click', '.btn-apagar', function () {
            var id = $(this).data('id');

            categoriaId = document.getElementById('lstCategorias').ej2_instances[0].value

            swal({
                title: "Você tem certeza que deseja apagar esta Lotação?",
                text: "Não será possível recuperar os dados eliminados!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: {
                    cancel: "Cancelar",
                    confirm: "Excluir"
                }
            }).then((willDelete) => {
                if (willDelete) {
                    var url = '/api/Unidade/DeleteLotacao';
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: { 'Id': id },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                ListaTblLotacoes(categoriaId);
                            }
                            else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (err) {
                            console.log(err)
                            alert('something went wrong')
                        }
                    });

                }
            });
        });

    </script>


    <script>
        function moeda(a, e, r, t) {
            let n = ""
                , h = j = 0
                , u = tamanho2 = 0
                , l = ajd2 = ""
                , o = window.Event ? t.which : t.keyCode;
            if (13 == o || 8 == o)
                return !0;
            if (n = String.fromCharCode(o),
                -1 == "0123456789".indexOf(n))
                return !1;
            for (u = a.value.length,
                h = 0; h < u && ("0" == a.value.charAt(h) || a.value.charAt(h) == r); h++)
                ;
            for (l = ""; h < u; h++)
                -1 != "0123456789".indexOf(a.value.charAt(h)) && (l += a.value.charAt(h));
            if (l += n,
                0 == (u = l.length) && (a.value = ""),
                1 == u && (a.value = "0" + r + "0" + l),
                2 == u && (a.value = "0" + r + l),
                u > 2) {
                for (ajd2 = "",
                    j = 0,
                    h = u - 3; h >= 0; h--)
                    3 == j && (ajd2 += e,
                        j = 0),
                        ajd2 += l.charAt(h),
                        j++;
                for (a.value = "",
                    tamanho2 = ajd2.length,
                    h = tamanho2 - 1; h >= 0; h--)
                    a.value += ajd2.charAt(h);
                a.value += r + l.substr(u - 2, u)
            }
            return !1
        }
    </script>

    <script>


</script>

    <script>

        //===== Seleciona a Linha Clicada =======
        var table = $('#tblLotacao').DataTable();
        var linhaSelecionada = 0;

        $("#tblLotacao tbody").on("click", "tr", (e) => {

            linhaSelecionada = e.currentTarget._DT_RowIndex

        });

        //=======================================

        //Controla a Edição da Lotação
        //================================
        $("#btnEditaLotacao").click(function (event) {

            event.preventDefault()

            categoriaId = document.getElementById('lstCategorias').ej2_instances[0].value
            lotacaoId = $('#txtIdEdita').val();
            motoristaId = document.getElementById('lstMotoristaEditaLotacao').ej2_instances[0].value
            unidadeNovaId = document.getElementById('lstUnidadeEditaLotacao').ej2_instances[0].value

            //debugger;

            //Valida Campos Obrigatórios
            //==========================

            if (document.getElementById('lstMotoristaEditaLotacao').ej2_instances[0].value === "" || document.getElementById('lstMotoristaEditaLotacao').ej2_instances[0].value === null) {
                swal({
                    title: "Informação Ausente",
                    text: "O Nome do Motorista é Obrigatório",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

            if (document.getElementById('lstUnidadeEditaLotacao').ej2_instances[0].value === "" || document.getElementById('lstUnidadeEditaLotacao').ej2_instances[0].value === null) {
                swal({
                    title: "Informação Ausente",
                    text: "O Nome da Unidade é Obrigatório",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

            if (document.getElementById("txtDataInicioEdicao").value === "") {
                swal({
                    title: "Informação Ausente",
                    text: "A Data de Início é obrigatória",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

            // ====================== Remove Lotações ======================
            if (document.getElementById("chkLotadoEdicao").value === true) {
                $.ajax({
                    type: "get",
                    url: "/api/Unidade/RemoveLotacoes",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { MotoristaId: motoristaId },

                    success: function (data) {
                        toastr.success(data.message);
                        $("#modalEditaLotacao").hide();
                        document.getElementById('lstMotoristaLotacao').ej2_instances[0].value = motoristaId;
                        ListaTblLotacoes(categoriaId);
                        $("div").removeClass("modal-backdrop");
                    },
                    error: function (data) {
                        alert('error');
                        console.log(data);
                    }
                });
            }
            // =============================================================


            // ====================== Edita a Locação ======================
            $.ajax({
                type: "get",
                url: "/api/Unidade/EditaLotacao",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { LotacaoId: lotacaoId, MotoristaId: motoristaId, UnidadeId: unidadeNovaId, DataInicio: $('#txtDataInicioEdicao').val(), DataFim: $('#txtDataFimEdicao').val(), Lotado: document.getElementById("chkLotadoEdicao").checked },

                success: function (data) {
                    toastr.success(data.message);
                    $("#modalEditaLotacao").hide();
                    ListaTblLotacoes(categoriaId);
                    $("div").removeClass("modal-backdrop");
                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });
        })

    </script>

    <script>

        //Controla a Remoção do Motorista
        //================================
        $("#btnFinalizaLotacao").click(function (event) {

            event.preventDefault()

            categoriaId = document.getElementById('lstCategorias').ej2_instances[0].value
            lotacaoId = $('#txtIdFinaliza').val();
            motoristaId = document.getElementById('lstMotoristaFinalizaLotacao').ej2_instances[0].value
            unidadeNovaId = document.getElementById('lstUnidadeNovaLotacao').ej2_instances[0].value

            //Valida Campos Obrigatórios
            //==========================

            if ((document.getElementById('lstUnidadeFinalizaLotacao').ej2_instances[0].value === "" || document.getElementById('lstUnidadeFinalizaLotacao').ej2_instances[0].value === null) && document.getElementById("txtDataInicioFinaliza").value === "") {
               swal({
                    title: "Informação Ausente",
                    text: "A Data data Fim da Lotação é obrigatória",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

 
            // ====================== Remove Lotações ======================
            $.ajax({
                type: "get",
                url: "/api/Unidade/RemoveLotacoes",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { MotoristaId: motoristaId },

                success: function (data) {
                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });



            $.ajax({
                type: "get",
                url: "/api/Unidade/RemoveMotorista",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { LotacaoId: lotacaoId, MotoristaId: motoristaId, UnidadeNovaId: unidadeNovaId, DataInicioNova: $('#txtDataInicioNova').val(), DataFimFinaliza: $('#txtDataFimFinaliza').val() },

                success: function (data) {
                    toastr.success(data.message);
                    $("#modalFinalizaLotacao").hide();
                    ListaTblLotacoes(categoriaId);
                    $("div").removeClass("modal-backdrop");
                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });
        });
        //================================

    </script>

    <script>

        //===== Seleciona a Linha Clicada =======
        var table = $('#tblLotacao').DataTable();
        var linhaSelecionada = 0;

        $("#tblLotacao tbody").on("click", "tr", (e) => {

            linhaSelecionada = e.currentTarget._DT_RowIndex

        });
        //=======================================


        $('#modalEditaLotacao').on('shown.bs.modal', function (event) {

            var dataTableLotacao = $('#tblLotacao').DataTable();
            var data = dataTableLotacao.row(linhaSelecionada).data();


            var unidadeId = data['unidadeId'];
            var lotacaoMotoristaId = data['lotacaoMotoristaId'];
            var motoristaId = data['motoristaId'];

            console.log("UnidadeId : " + unidadeId + " - LotacaoMotoristaId : " + lotacaoMotoristaId + "MotoristaId : " + motoristaId);

            $('#txtIdEdita').attr('value', lotacaoMotoristaId);

            $('#btnEditaLotacao').attr("data-id", lotacaoMotoristaId);

            document.getElementById('lstMotoristaEditaLotacao').ej2_instances[0].value = motoristaId;
            document.getElementById('lstUnidadeEditaLotacao').ej2_instances[0].value = unidadeId;


            var dataInicio = data['dataInicio'].split("/");
            day = dataInicio[0];
            month = dataInicio[1];
            year = dataInicio[2];
            dataInicio = (year + "-" + month + "-" + day);
            $('#txtDataInicioEdicao').attr('value', dataInicio);

            if (data['dataFim'] != null) {
                var dataFim = data['dataFim'].split("/");
                day = dataFim[0];
                month = dataFim[1];
                year = dataFim[2];
                dataFim = (year + "-" + month + "-" + day);
                $('#txtDataFimEdicao').attr('value', dataFim);
            }

            document.getElementById("chkLotadoEdicao").checked = data['lotado'];

       
        }).on("hide.bs.modal", function (event) {

            $('#txtId').attr('value', "");
            document.getElementById('lstMotoristaEditaLotacao').ej2_instances[0].value = null;
            document.getElementById('lstUnidadeEditaLotacao').ej2_instances[0].value = null;
            $('#txtDataInicioEdicao').attr('value', "");
            $('#txtDataFimEdicao').attr('value', "");
            document.getElementById("chkLotadoEdicao").checked = false;

        });

    </script>

    <script>

        //===== Seleciona a Linha Clicada =======
        var table = $('#tblLotacao').DataTable();
        var linhaSelecionada = 0;

        $("#tblLotacao tbody").on("click", "tr", (e) => {

            linhaSelecionada = e.currentTarget._DT_RowIndex

        });

        //=======================================
        $('#modalFinalizaLotacao').on('shown.bs.modal', function (event) {

            function sah1(el) {
                try {
                    el.disabled = el.disabled ? false : true;
                } catch (E) { }
                if (el.childNodes && el.childNodes.length > 0) {
                    for (var x = 0; x < el.childNodes.length; x++) {
                        sah1(el.childNodes[x]);
                    }
                }
            }

            //========== Desabilita os controles ======================
            $("#divMotoristaFinalizacao").attr("disabled", "disabled").off('click');
            var x1 = $("#divMotoristaFinalizacao").hasClass("divDisable");

            (x1 == true) ? $("#divMotoristaFinalizacao").removeClass("disabledDiv") : $("#divMotoristaFinalizacao").addClass("disabledDiv");
            sah1(document.getElementById("divMotoristaFinalizacao"));

            var x2 = $("#divUnidadeFinalizacao").hasClass("divDisable");

            (x2 == true) ? $("#divUnidadeFinalizacao").removeClass("disabledDiv") : $("#divUnidadeFinalizacao").addClass("disabledDiv");
            sah1(document.getElementById("divUnidadeFinalizacao"));

            var x3 = $("#divDataInicioFinaliza").hasClass("divDisable");

            (x3 == true) ? $("#divDataInicioFinaliza").removeClass("disabledDiv") : $("#divDataInicioFinaliza").addClass("disabledDiv");
            sah1(document.getElementById("divDataInicioFinaliza"));
            //========== Desabilita os controles ======================


            var dataTableLotacao = $('#tblLotacao').DataTable();
            var data = dataTableLotacao.row(linhaSelecionada).data();

            var motoristaId = data['motoristaId'];
            var unidadeId = data['unidadeId'];
            var lotacaoMotoristaId = data['lotacaoMotoristaId'];

            console.log("MotoristaId : " + motoristaId + "UnidadeId : " + unidadeId + " - LotacaoMotoristaId : " + lotacaoMotoristaId);

            $('#txtIdFinaliza').attr('value', lotacaoMotoristaId);

            $('#btnEditaLotacao').attr("data-id", lotacaoMotoristaId);

            document.getElementById('lstMotoristaFinalizaLotacao').ej2_instances[0].value = motoristaId;
            document.getElementById('lstUnidadeFinalizaLotacao').ej2_instances[0].value = unidadeId;

            document.getElementById('txtDataInicioNova').value = "";

            var dataInicio = data['dataInicio'].split("/");
            day = dataInicio[0];
            month = dataInicio[1];
            year = dataInicio[2];
            dataInicio = (year + "-" + month + "-" + day);
            $('#txtDataInicioFinaliza').attr('value', dataInicio);

            document.getElementById('txtDataFimFinaliza').value = "";

            document.getElementById("chkLotadoEdicao").checked = data['lotado'];

        }).on("hide.bs.modal", function (event) {

            $('#txtId').attr('value', "");
            document.getElementById('lstMotoristaEditaLotacao').ej2_instances[0].value = null;
            document.getElementById('lstUnidadeEditaLotacao').ej2_instances[0].value = null;
            $('#txtDataInicioFinaliza').attr('value', "");
            $('#txtDataFimFinaliza').attr('value', "");
            document.getElementById("chkLotadoEdicao").checked = false;
            document.getElementById('lstUnidadeNovaLotacao').ej2_instances[0].value = null;
            $('#txtDataInicioNova').attr('value', "");

        });


    </script>


}
